# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
*.egg
.venv/
venv/
env/

# Node
node_modules/
web/dist/
api/output/
web/public/data/

*.db
*.csv
api/darkfind.db

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Env
.env
.env.local
